@{

    int x = 0;
 
}

<!DOCTYPE html>
<html>
<head>
    <title>TSD2491 – Oblig1</title>
 
</head>
<body>

    <div class="text-center">
        <h1>TSD2491 – Oblig1</h1>
        <form asp-action="UserReg">
            <input type="text" id="username" name="username" placeholder="Enter your name" required />
            <button class="btn btn-info">Start</button>
        </form>
    </div>
  
    @if (ViewBag.message=="PLEASE TYPE USER NAME!")
    {
        <h3 class="bg-danger text-center text-light">@ViewBag.message</h3>
    }
    else{
        <h3 class="bg-success text-center text-light">@ViewBag.message</h3>
    }
   

    <div>
  
    </div>
    <h4>Players: @Class1.CurrentPlayer</h4>
    <p><b>Player List</b></p>
    @if (@ViewBag.userList!= null)
    {
    @foreach (var obj in @ViewBag.userList)
    {
        
            <p class="text-danger">@obj.Name</p>
    }
    }
 <br />


    <div class="container">
 

        <div class="row">

            <div class="col bg-light">
                <h2>Animals</h2>
                <div class="row">
            @for (var animalNumber = 0; animalNumber < ViewBag.shuffledAnimals.Count; animalNumber++)
            {
                var animal = ViewBag.shuffledAnimals[animalNumber];
                var uniqueDescription = $"Animal";
                @if (animal != "")
                {
                    x++;
                    <div class="col-3">
                        <a class="btn btn-outline-dark mt-1" style="height:90px; width:90px" asp-action="match" asp-route-name="@animal" asp-route-desc="@uniqueDescription" asp-route-id="@x"
                            type="button" >
                        @animal
                    </a>
                </div>
                }
            }
        </div>
        </div>
    
            <div class="col">
                <h2>Food</h2>
                <div class="row">
     
             @{x=0;}
            @for (var foodNumber = 0; foodNumber < ViewBag.shuffledFood.Count; foodNumber++)
            {
                x++;
                var food = ViewBag.shuffledFood[foodNumber];
                var uniqueDescription = $"Food";
                @if (food != "")
                {
                <div class="col-3">
                                <a class="btn btn-outline-dark mt-1" style="height:90px; width:90px" asp-action="match" asp-route-name="@food" asp-route-desc="@uniqueDescription" asp-route-id="@x"
                            type="button" >
                        @food
                    </a>
                   </div>
                }
            }
      
        </div>
        </div>
        <div class="col bg-light">
            @{x=0;}
        <h2>Drinks</h2>
        <div class="row">
                    @for (var drinkNumber = 0; drinkNumber < ViewBag.shuffledDrink.Count; drinkNumber++)
            {
                x++;
                        var drink = ViewBag.shuffledDrink[drinkNumber];
                var uniqueDescription = $"Drink";
                        @if (drink != "")
                        {
                            <div class="col-3" style=" vertical-align: middle;">
                                <a class="btn btn-outline-dark mt-1" style="height:90px; width:90px; " asp-action="match" asp-route-name="@drink" asp-route-desc="@uniqueDescription" asp-route-id="@x"
                            type="button" >
                        @drink
                    </a>
                </div>
                        }
            }
        </div>
    </div>

   </div>
    </div>

</body>
</html>
